# IDE Stuff
.idea

# Do not version keys
*.pem
*.key
ca/ca/*

# Do not version custom config files
ca/config.conf

# Do not version Terraform statefiles and modules
*/tf/*/.tfstate

# Do not version very large image files
images/*